p Ever got annoyed that you can't CTRL+F in a Roll20 forum because it's spread across a whole bunch of pages?
p This bookmarklet brings the contents of an entire topic into the first page, for easy perusal!
p To use, just click and drag the below bookmarklet to your bookmarks toolbar:
p #[br]>>> #[a(href='javascript:' + bookmarklet) Roll20 One-Pager] <<<#[br]#[br]
p Then, on the first page of any Roll20 forum, click it to load the contents of all other pages on that one page!
p Note that this could significantly slow down your browser if you're running on older hardware - the forums are paged for a reason!
p This #[i can] work on mobile browsers too, but is just a bit harder to set up. #[a(href='https://android.stackexchange.com/a/210701') How to add and execute bookmarklet on Chrome for Android]
