doctype html
html(lang='en')
head
  title Roll20 One-pager Bookmarklet
  meta(charset='utf8')
body
  h1 Roll20 One-Pager Bookmarket
  p Ever got annoyed that you can't CTRL+F in a Roll20 forum because it's spread across a whole bunch of pages?
  p This bookmarklet brings the contents of an entire topic into the first page, for easy perusal!
  p To use, just click and drag the below bookmarklet to your bookmarks toolbar:
  p >>> #[a(href='javascript:' + bookmarklet) Roll20 One-Pager] <<<
  p Then, on the first page of any Roll20 forum, click it to load the contents of all other pages on that one page!
  p Note that this could significantly slow down your browser if you're running on older hardware - the forums are paged for a reason!
